    <%= simple_form_for ([current_user, @profile]) do |p| %>
    <%= p.file_field :avatar %>
    <%= p.input :dob, :label => "Date Of Birth" %>
    <%= p.input :gender, :as => "select", :collection =>  ([['Male', 'male'], ['Female', 'female']]), :default => "Male" %>
    <%= p.input :about , :input_html => {:class => "input-about"}%>
    </div>
    <div class="well">
    	<h2> Body </h2>
    	<%= p.input :weight, :input_html => {:class => "span1"} %>
    	<%= p.input :height, :collection => height_options, :input_html => {:class => "span1"} %>
    	<%= p.input :waist_circ, :input_html => {:class => "span1"} %>
    </div>
    
    <%= p.button :submit %>
    <% end %>
