<h1>Crop Avatar</h1>
 <%= image_tag @profile.avatar_url(:large), id: "cropbox" %>
 
<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
   <%= image_tag @profile.avatar.url(:large), :id => "preview" %>
</div>

<%= form_for @profile do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>