<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @membership.user %>
</p>

<p>
  <b>Pending:</b>
  <%= @membership.pending %>
</p>

<p>
  <b>Group:</b>
  <%= @membership.group %>
</p>

<p>
  <b>Blocked:</b>
  <%= @membership.blocked %>
</p>

<p>
  <b>Glevel:</b>
  <%= @membership.glevel %>
</p>



