<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#account"data-toggle="tab">Account</a></li>
  <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#wordpass" data-toggle="tab">Password</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
  <li><a href="#cancel_account" data-toggle="tab">Cancel Account</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="account">
  <div class="inputs">
    <%= f.input :username, :required => true %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  </div>
  <div class="tab-pane" id="profile">
    <div class="pull-right">
    <%= image_tag @user.profile.avatar.url(:medium) %></br>
    <%= f.simple_fields_for :profile do |p| %>
    <%= f.file_field :avatar %>
     <% end %>
    </div>
    <div class="inputs">
    <%= f.simple_fields_for :profile do |p| %>
    <%= p.input :dob, :as => :date_picker, :label => "Date Of Birth" %>
    <% end %>
  </div>
  </div>
  <div class="tab-pane" id="wordpass">
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  </div>
  <div class="tab-pane" id="settings">

  </div>
  <div class="tab-pane" id="cancel_account">
  <h3>Cancel my account</h3>

   <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure??", :method => :delete %>.</p>
  </div>
</div>
  

  <div class="form-actions">
    <%= f.button :submit, "Update", :class => 'btn btn-primary'%> <%= link_to "Back", :back %>
  </div>
<% end %>

<script>                

$(function () {
   var activeTab = $('[href=' + location.hash + ']');
   activeTab && activeTab.tab('show');
});
</script>

