<% content_for :top_left do %>
<h2>Your Account</h2>
<% end %>
<% resource.build_profile unless resource.profile%>
<% resource.build_dgoal unless resource.dgoal%>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#account"data-toggle="tab">Account</a></li>
  
  <li><a href="#dgoal" data-toggle="tab">Diet Goals</a></li>
  <li><a href="#wordpass" data-toggle="tab">Password</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
  <li><a href="#cancel_account" data-toggle="tab">Cancel Account</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="account">
  <div class="inputs">
    <%= f.input :username, :required => true %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  </div>

   <div class="tab-pane regis" id="dgoal">
   	<%= f.simple_fields_for :dgoal do |d| %>
    	<%= d.input :calories %>
   	    <%= d.input :protein, :label => "Protein(g)", :placeholder => "50"%>
   	    <%= d.input :fat, :label => "Fats(g)", :placeholder => "50" %>
   	    <%= d.input :carbs, :label => "Carbohydrate(g)", :placeholder => "300" %>	
   	<% end %>
   
  </div>
  <div class="tab-pane regis" id="wordpass">
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  </div>
  <div class="tab-pane regis" id="settings">

  </div>
  <div class="tab-pane regis" id="cancel_account">
  <h3>Cancel my account</h3>

   <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure??", :method => :delete %>.</p>
  </div>
</div>
  

  <div class="form-actions">
    <%= f.button :submit, "Update", :class => 'btn btn-primary'%> <%= link_to "Back", :back %>
  </div>
<% end %>

<script>                

$(function () {
   var activeTab = $('[href=' + location.hash + ']');
   activeTab && activeTab.tab('show');
});
</script>

