<h2>Sign up</h2>
<div class="span3 pull left">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group"><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  
   <div class="control-group"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

 <div class="control-group"><%= f.label :password %><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

 <div class="control-group"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

 <div class="form-actions">
  <%= f.submit "Sign Up", :class => 'btn btn-primary'  %>
 </div>
<% end %>
</div>
<div class="span3">
<%= render :partial => "devise/shared/links" %>
</div>
