<div id="rquest-invite" class="modal hide fade">
<%= simple_form_for(resource,:validate => true , :as => resource_name, :url => registration_path(resource_name),:html => {:class => 'form-horizontal' }) do |f| %>
<div class="modal-header">
<button class="close" data-dismiss="modal">×</button>
  <h2> Request Invitation </h2>
</div>
<div class="modal-body">
	<%= f.error_notification %> 
	<%= f.input :email, :placeholder => 'user@example.com', :required => true %> 
	<%= f.input :name, :required => true  %>
    <%= f.input :username, :required => true, :autofocus => true %>
	 
    <p>
    	Sign up for infrequent updates about whatsmyx. Don't worry, we hate spam just as much as you do
    	</P>
   <%= f.input :opt_in, :label =>"Allow Updates" %> 
 </div>
<div class="modal-footer">
	<%= f.button :submit, :label=>"Request Invite", :class => 'btn-primary', :disable_with => "Please wait..." %>

    <button class="btn" data-dismiss="modal">Cancel</button>
   
    

 </div>
<% end %>
</div>
<div id="romance-copy" class="hero-unit">
  
 
   

   <div class="beta-button"  style="text-align: center;">
   	  <p>
   	Track anything. Find your quantified self. 
   </p>
   	   <h3>
   	Limited Beta Coming Soon
   	</h3>
  <a data-toggle="modal" href="#rquest-invite" class="btn btn-primary btn-large">Request Invite</a>
   </div>
  </div>
  
<div id="call-to-action">
	
	
</div>
