<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @serv_size.name %>
</p>

<p>
  <b>Value:</b>
  <%= @serv_size.value %>
</p>



<%= link_to 'Edit', edit_serv_size_path(@serv_size) %> |
<%= link_to 'Back', serv_sizes_path %>
