       <div id="header-date"> 
	   <div class="span2">
	       <%= link_to  "<<", {:date => ((@date -1).strftime("%Y-%m-%d"))}, :class => "btn btn-primary" %>
	     </div>
	   <div class="span8">
	    	<h2><%=h @date.strftime("%A %B %d %Y") %><button id="ButtonCreationDemoButton" class="btn btn-primary">
            <img src="assets/calendar.png" alt="[calendar icon] "/>
          </button></h2>
          <div id="date-form-cont" style="display: none;">
	       <%= simple_form_for("", :method => "get" ) do |f| %>
                <%= f.input :date %>
                <%= f.button :submit, "GO"%>
            <% end %>
	       </div>
	   </div>
	   <div class="span2">
	      <%= link_to  ">>", {:date => ((@date +1).strftime("%Y-%m-%d"))}, :class => "btn btn-primary" %>
	   </div>
	   </div>
	<script>
    $('#ButtonCreationDemoButton').click(
      function(e) {
        $('#date-form-cont').toggle();
        
      } );
    </script>   
<script>
  
  $("#_date").AnyTime_picker(
    { format: "%Y-%m-%d", 
      labelTitle: "Choose A Date",
      labelHour: "Hours",
    
      labelMinute: "Minutes" } );
</script>