       <div id="header-date"> 
	   <div class="span2"style="font-size: 40px; padding-top: 15px;" >
	   	   <a href="?date=<%=((@somedate -1).strftime("%Y-%m-%d"))%>"> <i class="icon-arrow-left"></i></a>
	 
	     </div>
	   <div class="span8">
	     
	      <div style="font-size: 40px; padding-top: 15px;">
	       
          <a href="#" id="ButtonCreationDemoButton"><i  class="icon-calendar"><%= @somedate.strftime("%D") %></i></a>
          </div>
	    
         
	      
          <div id="date-form-cont" style="display: none;">
          	
	       <%= simple_form_for("", :method => "get" ) do |f| %>
	            <% if params[:date]%>
                <%= f.input :date, :as => 'date',:default => @somedate, :input_html => { :class=>"input-small"}%>
                <% else %>
                <%= f.input :date, :as => 'date',:default => @somedate, :input_html => { :class=>"input-small"}%>
                <% end %>
             
                <%= f.button :submit, "GO"%>
            <% end %>
	       </div>
	        
	   </div>
	   <div class="span2"style="font-size: 40px; padding-top: 15px;" >
	   	   <a href="?date=<%=((@somedate +1).strftime("%Y-%m-%d"))%>"> <i class="icon-arrow-right"></i></a>
	 
	     </div>
	   </div>
	<script>
    $('#ButtonCreationDemoButton').click(
      function(e) {
        $('#date-form-cont').toggle();
        
      } );
    </script>   