<div class="row">
    	 
   	<div class="span4" id="nutrition-sidebar">
   		   
   	   <div id="sidebar-data-left">
   	      <%= render "nut_facts"%>
   	   </div>
   	   <div id="sidebar-chart">
   	      <%= render "nutrition/pie_chart"%>
   	   </div>
    </div>
    <div class="span8">
   
    
      
    <div class="row nutri-nav">
    
    <%= render "nutrition/date_picker"%>
	   
	</div>
	
	<div class="row nutrition-header">
     <%= render "nutrition/header" %>
    </div>
	
	
    <div id="meal-form" style="display:none;">
    	<%= render "meals/form"%>
    </div>
    <div id="meal-list">
    <%= render @meals %>
    </div>
  
    
     
    </div>
</div>
        


