<% content_for :sidebar do %>
    <%= render "shared/track_nav"%>
	<%= render "nutrition/nutnav"%>
<% end %>


   

    <div class="row-fluid nutri-nav">
    
    <%= render "nutrition/date_picker"%>
	   
	</div>
	
 
  
	<div class="row-fluid nutrition-header">
     <%= render "nutrition/header" %>
    </div>
      <div id="meal-form" style="display:none;">
    	<%= render "meals/form"%>
    </div>
  
	<div class="nutrition-tabs">
	  <ul class="nav nav-tabs">
       <li class="active"><a href="#meal-summary" data-toggle="tab">Summary</a></li>
       <li><a href="#meal-breakdown" data-toggle="tab">Breakdown</a></li>
  
      </ul>
  </div>
  <div class="tab-content">
 
  <div class="tab-pane active" style="min-height: 50px;" id="meal-summary">
  	
  <% if @meals.count == 0 %> 
    
       	<div class= "alert alert-error no-entry">
    	You have not entered any meals for this date. 
    	</div>
   
   <% else %>
 
   <div class="meal-list">
   <%= render @meals %>
  
   </div>
   <% end %>
 
  </div>
   <div class="tab-pane" id="meal-breakdown">
     <div class="row-fluid">
   		   
   	   <div id="sidebar-summary" class="span4">
   	      <%= render "nutrition/nut_facts"%>
   	   </div>
   	   <div id="sidebar-chart"  class="span4">
   	      <%= render "nutrition/pie_chart"%> 
   	   </div>
    </div>

  

   
  
    
     
    </div>
    
    
  </div>

   


