  
  <% for mpost in @mposts %>
 <div class="post-block">
      <div class="row">
            <div class="span3">
               <%= image_tag mpost.user.profile.avatar.url(:medium) %></br>
                <h2><%= mpost.user.username %></h2></br>
                 <%= time_ago_in_words(mpost.created_at) %> ago.
            </div>
            <div class="post-body">
                <%= mpost.content %>
            </div>
      </div>
   <div class="row">
         <div id="post-footer" class="pull-right"> 
         <%= link_to "Edit", edit_mpost_path(mpost), :remote => true %> <%= link_to "Destroy", mpost, :remote => true, :confirm => 'Are you sure?', :method => :delete %>
         </div>
   </div>
<div id="comments_list">
<ul id="comments_<%= mpost.id %>">
  
</ul>
<%= render_comments_form mpost %>

<% end %>
</div>
  <script type="text/javascript">
  
  // Example:
$(document).ready(function(){
    $('textarea').autosize();  
});


</script>
