<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @notification.user %>
</p>

<p>
  <b>Activity:</b>
  <%= @notification.activity %>
</p>

<p>
  <b>Read:</b>
  <%= @notification.read %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
