

<div class="row">
<div id="groups-sidebar" class="menu span3">


	
            
  </div>    
<div id="groups-body" class="span9">
  <ul class="nav nav-tabs" id="myTab">
  <li class="active">
      <a href="#my-groups" data-toggle="tab">My Groups
      	</a></li>
  <li>
  	<a href="#all-groups" data-toggle="tab">All Groups
  		</a></li>
  
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="my-groups">
   <% current_user.memberships.each do |membership| %>
             <li>
             <%= link_to membership.group.name, membership.group %> | <%= link_to 'Edit', edit_group_path(membership.group) %> | <%= link_to 'Destroy', (membership.group), confirm: 'Are you sure?', method: :delete %>
             </li>
             <% end %>
              <%= link_to 'New Group', new_group_path %>
      
  </div>
  <div class="tab-pane" id="all-groups">
  	<% @groups.each do |group| %>
  	<div class="row span8">
  	     <li>
             <%= link_to group.name, group %> | <%= link_to 'Edit', edit_group_path(group) %> | <%= link_to 'Destroy', (group), confirm: 'Are you sure?', method: :delete %>
             </li>
  	</div>
  	<% end %>
  </div>
 
</div>
     
</div>
    
</div>

</div>

