 <% @parent = @group.id %>
 
 
<div class="row">
<div id="groups-sidebar" class="menu span3">

<div id="group-about">
	<%= image_tag @group.avatar.url(:medium) %>
	<h2>
		About
	</h2>
	<%= @group.description %>
	<%= link_to 'Edit', edit_group_path(@group) %> |

</div>

<div id="group-owner">	
	<h2>
		Owner
	</h2>
  <%= @group.user.username %>
</p>

</div>

<div id="group-privacy">
	<h2>
		Group Privacy
	</h2>
  <%= @group.privacy_level %>
</p>

</div>

<div id="group-active">
  	<h2>
		Group Status
	</h2>
  <%= @group.active %>
</p>
</div>

<div id="group-members">
		<h2>
		Group Members
	</h2>
      
     
     <% @members.each do |x| %> 
      <%= image_tag x.user.profile.avatar.url(:mini) %>
    
     <% end %>
</div>

            
  </div>    
<div id="groups-body" class="span9">
   <div class="row" id="group-header">
   
        <div id="profile-name">
               <h3><%= @group.name %></h3>
	            <% if @current_memberships == 0 %>
                <% if user_signed_in? %>
                <div id="join_group">
              <%= simple_form_for ([@group, @new_membership]) do |f| %>
              <%= f.button :submit,  'Join Group', :class => 'btn btn-primary' %>
              <%= f.input :user_id, :as=> 'hidden', :input_html => {:value => current_user}%>

              <% end %>
                
                </div>
                <% end %> 
                <% else %>
                 <div id="leave_group">
           
                 <% @membership.each do |membership| %>
                 <%= link_to "Leave Group",  ([@group, membership]), confirm: 'Are you sure?', :class=>"btn btn-danger", method: :delete %>
                 <% end %>
                 </div>
                <% end %>
        </div>
        <div id="group-merit" class="pull-right visible-desktop">
        
         <ul>
        
          <li>
            
              <strong> <%= @group.memberships.count %> </strong>
              Members
            

          </li>
 </div>

</div>
 



<% unless @current_memberships == 0 %>
<div id="posts_form"><%= render :partial => 'posts/form' %></div>
<% end %>

     <% if @group.privacy_level == "PUBLIC" %>
      <div id="activity_feed"><%= render "activities/index" %></div>
      <% elsif @group.privacy_level == "RESTRICTED"%>
      <% unless @current_memberships == 0 %>
      <div id="activity_feed"><%= render "activities/index" %></div>
      <%= paginate @activities%>
      <% end %>
      <% end %>

  






  </div>
 
</div>
     








