<div id="profile-sidebar" class="span3 pull-left">

   <div id="profile_pic">
	<%= image_tag @user.profile.avatar.url(:medium) %>
	
   </div>
    <div class="row">
        <div id="profile-level" class="span2">
            <h2> Level <%= @user.level %></h2>
        </div>
        <div class="pull-right">
             <%= @user.points %></br>
             Points
        </div>
    </div>

   <div class="progress">
       <% if @user.level == 1 %>
       <div class="bar" style="width:<%=number_to_percentage((@user.points.to_f / 2000) * 100) %>;">
     
       <% end %>
       
        </div>
   </div>

   <div id="profile-about">
   <h2> About Me </h2>
   <%= @user.profile.about %>
   </div>
   <div id="profile-followers">
          <h2> Followers </h2>
	  <% @followers.each do |follower| %>
	  <%= image_tag follower.profile.avatar.url(:thumb) %>
	  <% end %>
   </div>
</div>
<div id="profile-body" class="span8 pull-right">
<div class="row">
   <div id="profile-header">
        <div id="profile-name" class="span3 pull-left">
	        <h3><%= @user.username %></h3>
	        
                <% if user_signed_in? %>
                <div id="follows_user">
                <%= render :partial => "follows/follow_user", :locals => {:user => @user} %>
                 </div>
                <% end %> 
        </div>
<div id="profile-merit" class="pull-right visible-desktop">
        
      <ul>
        
          <li>
            
              <strong> <%= @user.follow_count %> </strong>
              Following
            

          </li>

          

          
            <li>
              <strong><%= @user.followers_count %></strong>
              Followers
            </li>
          

        
        <li>
          <strong><%= @user.level %></strong>
          Level
        </li>
      </ul>
      
     
	
</div>
</div>
</div>
<div id="profilebody">
      
          <div id="posts_list"><%= render :partial => "posts/posts_for_user" %></div>
	
</div>

	

</div>

