<% content_for :sidebar do %>
<div id="profile-sidebar" class="menu">
   
        
        <div class="points">
        	<div id="profile-level" class="span5">
             <h4>Level <%= @user.level %></h4>
             </div>
        	 <div class="pull-right">
             <%= @user.points %> Points
             </div>
        </div>


       <div class="progress">
       <% if @user.level == 0 %>
       <div class="bar" style="width:<%=number_to_percentage(10) %>;">   </div>
       <% else if @user.level == 1 %>
       <div class="bar" style="width:<%=number_to_percentage((@user.points.to_f / 2000) * 100) %>;"></div>
       <% end %>
       <% end %>
       </div>
   
        <div id="profile-about">
         <h3> About Me </h3>
         <% if @user.profile.about == "" %>
          <p>This user has not edited the about information</p>
         
         <% else %>
           <%= @user.profile.about %>
         <% end %>
        </div>
        
         <div id="profile-followers">
          <h3> Followers </h3>
	      <% @followers.each do |follower| %>
	      <a href="/<%=follower.slug%>"  rel="popover" data-content="Test" data-original-title="<%=follower.username %>"><%= image_tag follower.profile.avatar.url(:mini) %></a>
	
	      <% end %>
         </div>
       <div id="profile-memberships">
   	   <h3> Groups </h3>
   	      <ul>
   	  	  <% @user.memberships.each do |membership| %>
       	   <li>
          <strong><%= link_to membership.group.name, membership.group%> </strong>
          </li>
          <% end %>
          </ul>
   </div>
 
  </div>
  <% end%>
  <% content_for :top do %>
   <div id="profile-header" class="span10">
       
        <div id="profile-name" class="row-fluid">
        <div id="profile_pic" class="span3">
	    <%= image_tag @user.profile.avatar.url(:thumb), :class=> "user-pic" %>
	
       </div>
        <div class="span3">
               <h3><%= @user.username %></h3>
	        
                <% if user_signed_in? %>
                <div id="follows_user">
                <%= render :partial => "follows/follow_user", :locals => {:user => @user} %>
                
                </div>
                <% end %> 
        </div>
        </div>
        <% content_for :top_right do %>
        <div id="profile-merit">
        
         <ul>
        
          <li>
            
              <strong> <%= @user.follow_count %> </strong>
              Following
            

          </li>

          

          
            <li>
              <strong><%= @user.followers_count %></strong>
              Followers
            </li>
          

        
        <li>
          <strong><%= @user.level %></strong>
          Level
        </li>
      </ul>
      
     
      </ul>
     
	
     </div>
     <% end %>
  </div>
  <% end %>
  
  

  
 
   
  <div class="user-controls row-fluid">
  <ul class="nav nav-tabs">
  <li class="active"><a href="#activity-feed" data-toggle="tab">Feed</a></li>
  <li><a href="#dash" data-toggle="tab">Dashboard</a></li>
  
  </ul>
  </div>
  <div class="tab-content">
 
  <div class="tab-pane active" id="activity-feed">
  	
  		<%= render :partial => "activities/index" %>
 
  </div>
   <div class="tab-pane" id="dash">
        <%= render :partial => "users/dashboard" %>
  </div>


  


	

</div>


