<div class="row">
<div id="profile-sidebar" class="menu span3">

        <div id="profile_pic">
	    <%= image_tag @user.profile.avatar.url(:medium), :class=> "user-pic" %>
	
        </div>
   
        
        <div class="points">
        	<div id="profile-level" class="span1">
             <h4> Level <%= @user.level %></h4>
              </div>
        	 <div class="pull-right">
             <%= @user.points %> Points
             </div>
        </div>


       <div class="progress">
       <% if @user.level == 0 %>
       <div class="bar" style="width:<%=number_to_percentage(10) %>;">   </div>
       <% else if @user.level == 1 %>
       <div class="bar" style="width:<%=number_to_percentage((@user.points.to_f / 2000) * 100) %>;"></div>
       <% end %>
       <% end %>
       </div>
   
        <div id="profile-about">
         <h3> About Me </h3>
         <% if @user.profile.about == "" %>
          <p>This user has not edited the about information</p>
         
         <% else %>
           <%= @user.profile.about %>
         <% end %>
        </div>
        
         <div id="profile-followers">
          <h3> Followers </h3>
	      <% @followers.each do |follower| %>
	      <%= image_tag follower.profile.avatar.url(:mini) %>
	
	      <% end %>
         </div>
       <div id="profile-memberships">
   	   <h3> Groups </h3>
   	      <ul>
   	  	  <% @user.memberships.each do |membership| %>
       	   <li>
          <strong><%= link_to membership.group.name, membership.group%> </strong>
          </li>
          <% end %>
          </ul>
   </div>
 
  </div>
  <div id="profile-body" class="span9">
    <div class="row" id="profile-header">
   
        <div id="profile-name">
               <h3><%= @user.username %></h3>
	        
                <% if user_signed_in? %>
                <div id="follows_user">
                <%= render :partial => "follows/follow_user", :locals => {:user => @user} %>
                
                </div>
                <% end %> 
        </div>
        <div id="profile-merit" class="pull-right visible-desktop">
        
         <ul>
        
          <li>
            
              <strong> <%= @user.follow_count %> </strong>
              Following
            

          </li>

          

          
            <li>
              <strong><%= @user.followers_count %></strong>
              Followers
            </li>
          

        
        <li>
          <strong><%= @user.level %></strong>
          Level
        </li>
      </ul>
      
     
      </ul>
     
	
     </div>

  </div>
  <div class="row user-controls">
  <ul class="nav nav-tabs">
  <li><a href="#activity-feed" data-toggle="tab">Feed</a></li>
  <li><a href="#dash" data-toggle="tab">Dashboard</a></li>
  
  </ul>
  </div>
  <div class="tab-content row">
 
  <div class="tab-pane active span9" id="activity-feed">
  	
  		<%= render :partial => "activities/index" %>
 
  </div>
   <div class="tab-pane span9" id="dash">
        <%= render :partial => "users/dashboard" %>
  </div>
  
</div>

  


	

</div>
</div>

