<div id="profile-header" class="row well">
	<div id="profile_pic" class="pull-left">
		<%= image_tag @user.profile.avatar.url(:medium) %>
    </div>
	<div id="profile-name" class="span3 pull-left">
	<h3><%= @user.username %></h3>
        </div>
        <div id="profile-merit" class="pull-right">
        
      <ul>
        
          <li>
            
              <strong> <%= @user.points %> </strong>
              Points
            

          </li>

          

          
            <li>
              <strong>33</strong>
              Followers
            </li>
          

        
        <li>
          <strong><%= @user.level %></strong>
          Level
        </li>
      </ul>
      
        </div>
	
</div>
<div id="profilebody">
<div id="profile-sidebar" class="span4">
<h1>About Me</h1>
<%= @user.profile.about %></h3>
</div>
	

</div>
