<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>What did you eat?</h2>
    

 </div>
  <div class="modal-body">
<%= simple_form_for @meal do |f| %>

 <%= f.input :name, :url => autocomplete_food_name_meals_path, :as => :autocomplete, :input_html => {:id_element => '#meal_ndb'}%>
  <%= f.input :ndb, :as =>"hidden" %>
  <%= f.input :quanity %>
  <%= f.input :units %>
  <%= f.input :date, :as => :date_picker, :input_html => {:value => DateTime.now.strftime('%m/%d/%Y')} %>
  <%= f.association :mcategory, :label => 'Meal', :include_blank => false%>
  </div>
  <div class="modal-footer">
   <%= f.submit "Post", class: "btn btn-large btn-primary" %>
 
<% end %>
   
   
  </div>
  
