

<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Track your...</h2>
</div>
 <div class="modal-body">
 <%= simple_form_for @stat, :remote => true do |f| %>
  <%= f.association :category %>

 

   <%= f.input :value, :input_html => { :class => "span1" }%>
   <%= f.input :sunit, :label => 'Units', :input_html => { :class => "span1" }, :hint => "Units eg; lbs or inches"%>

  <%= f.input :date %>
 </div>
<div class="modal-footer">
   
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
 </div>


