<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>What did you eat?</h2>
    

 </div>
  <div class="modal-body">
<%= simple_form_for @ingredient, :html => { :class => 'form-horizontal' } , :remote => true do |f| %>
  <%= f.input :date %>
  <%= f.input :what_food, :as => :autocomplete,  :url => autocomplete_food_det_longdesc_ingredients_path, :input_html => {:id_element => "#ingredient_food_id"} %>
  <%= f.input :servings %>
  <%= f.input :food_id, :as => 'hidden' %>
  <%= f.input :serving_size, :as => 'hidden' %>
  <%= f.association :mcategory, :label => "Meal", :include_blank => false %>
   </div>
  <div class="modal-footer">
  <%= f.button :wrapped  %><button class="close" data-dismiss="modal">Cancel</button>
<% end %>
 
  </div>
  
