<%- model_class = Ingredient.new.class -%>
<div id="ingredient_container" class="container">
	<div class="row">
		
				<h1 id="show_date"><%= @ingredient.date.strftime("%A, %B %e") %></h1>
				     <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                      edit_ingredient_path, :class => 'btn btn-default' %>
				<%= link_to 'Delete', @ingredient, :method => :delete, :class => "btn btn-danger" %>
		
				<div id="todays_chart" class="offset-by-five"></div>
			
	</div>

		<script>
		var chart;
		var dv_labels = new Array();
		dv_labels['Calories'] = '<%= @dvs[:calories] %> calorie diet.';
		dv_labels['Protein'] = '<%= @dvs[:protein] %>g DV.';
		dv_labels['Fats'] = '<%= @dvs[:total_fat] %>g DV.';
		dv_labels['Carbohydrates'] = '<%= @dvs[:tot_carbs] %>g DV.';
		
	
		var dv_data = new Array();
		dv_data['Calories'] = <%= @dvs[:calories] %>;
		dv_data['Protein'] = <%= @dvs[:protein] %>;
		dv_data['Fats'] = <%= @dvs[:total_fat] %>;
		dv_data['Carbohydrates'] = <%= @dvs[:tot_carbs]%>;
		

	
		$(document).ready(function() {
		   chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'todays_chart',
		         defaultSeriesType: 'column',
			        width: 400,
							height: 200,
							backgroundColor: 'rgba(0, 0, 0, 0)'
		      },
		      title: {
		         text: 'Today\'s Summary'
		      },
					//None for now
		      // subtitle: { 
		      //    text: ''
		      // },
		      xAxis: {
		         categories: [
		        'Calories',
			    'Protein',
			    'Fats',
			    'Carbohydrates',
								
		         ]
		      },
		      yAxis: {
		         min: 0,
						 max: 200,
		         title: {
		            text: 'Recommendation'
		         },
						labels: {
						            formatter: function() {
						                return this.value +'%';
						            }
						        },
						plotBands: [{ // MAX
						            from: 100,
						            to: 200,
						            color: 'rgba(255, 0, 0, 0.1)',
						            label: {
						               text: '',
						               style: {
						                  color: 'red'
						               }
						            }
						         }, { // MAX
						            from: 0,
						            to: 100,
						            color: 'rgba(0, 255, 0, 0.1)',
						            label: {
						               text: '',
						               style: {
						                  color: 'green'
						               }
						            }
						         }],
						plotLines: [{
						            color: 'red',
						            width: 2,
						            value: 100
						        }],
						gridLineWidth: 0
		      },
			    legend: {
			        enabled: false
			    },
				
		      tooltip: {
		         formatter: function() {
		            return ''+
		               Math.round(this.y/100*dv_data[this.x])+ ' is ' + this.y + '% of a ' + dv_labels[this.x];
		         }
		      },
	
		      plotOptions: {
			       series: {
			            colorByPoint: true
			        },
							line: {
							            lineWidth: 4,
							            states: {
							               hover: {
							                  lineWidth: 5
							               }
							            },
							            marker: {
							               enabled: false,
							               states: {
							                  hover: {
							                     enabled: false
							                  }
							               }   
							            }
							}
		      },
		      series: [{
						 type: 'column',
		         data: [<%= @chart_data %>],
							dataLabels: {
							                enabled: true,
															y: -4,
															formatter: function() {
															                    return Math.round(this.y/100*dv_data[this.x]);
															                },
															color: 'black'
							            }
		      }]                 
		   });                  


		});
		</script>

	
	
			<%= content_tag_for(:div, @this_ingredient) do %>



<% food = Food.find(@ingredient.food_id) %>
<div class="span3 well">
<div>Nutrition Facts</div>
<% if @ingredient.serv_size.nil? %>
                       Serving Size: 100g
    		     <% multiplication_factor = @ingredient.servings %>
    			 <% else %>
    				 <% multiplication_factor = (@ingredient.serv_size.value / 100)*@ingredient.servings.to_f %>
    				 Serving Size :<%=@ingredient.servings%> <%= @ingredient.serv_size.name%><% if @ingredient.servings > 1%>s<%else%><%end%>
    				
    			<% end %>

<div>Calories <%= h('%.0f' % (multiplication_factor * food.calories)) %></div>
		
<div>Calories from Fat <%= h('%.0f' % (food.lipid_total*9))  %></div>					 		
<div>		
                
    			
 
 

</div>	

			

			
 <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.lipid_total/@dvs[:total_fat])*100)) %>%</div>    
      
       <div class="nut-label">Total Fat <%= h('%.0f' % (food.lipid_total*multiplication_factor))%>g</div>            
			
 <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.carbohydrates/@dvs[:tot_carbs])*100)) %>%</div>   
				
	<div class="nut-label">Total Carbs <%= h('%.0f' % (food.carbohydrates*multiplication_factor)) %>g</div>            
				
  <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.sugar_total/@dvs[:sugar_total])*100)) %>%</div>   	           
					 
        <div class="nut-label">Sugars <%= h('%.0f' % (food.sugar_total*multiplication_factor)) %>g</div>            
      
  <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.fa_sat/@dvs[:fa_sat])*100)) %>%</div>  	
    
  <div class="nut-label">Sat. Fats <%= h('%.0f' % (food.fa_sat*multiplication_factor)) %>g</div>                
 
  <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.fiber/@dvs[:fiber])*100)) %>%</div>            			

  <div class="nut-label">Dietary Fiber <%= h('%.0f' % (food.fiber*multiplication_factor)) %>g</div>            
  
  <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.cholesterol/@dvs[:cholesterol])*100)) %>%</div>      
     
  <div class="nut-label">Cholesterol <%= h('%.0f' % (food.cholesterol*multiplication_factor)) %>mg</div>            
   
  <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.sodium/@dvs[:sodium])*100)) %>%</div>          
                  
        
 <div class="nut-label">Sodium <%= h('%.0f' % (food.sodium*multiplication_factor)) %>mg</div>          
  
  <div class="pull-right"><%= h('%.0f' % ((multiplication_factor*food.protein/@dvs[:protein])*100)) %>%</div>             
               
  <div class="nut-label">Protein <%= h('%.0f' % (food.protein*multiplication_factor)) %>g</div>            
    
           
      
				 <% if food.calcium != 0.0 %>
  <div class="pull-right"> <%= h('%.0f' % ((food.calcium.to_f*multiplication_factor/@dvs[:calcium])*100)) %>%</div>				
	 <div class="nut-label">Calcium</div>      
       
						
				<% else %>
				
				<% end %>
				 <% if !food.iron.nil? %>
					<div class="pull-right"><%= h('%.0f' % ((food.iron.to_f*multiplication_factor/@dvs[:iron])*100)) %>%</div>
					       <div class="nut-label">Iron</div>      
					
							
				
				<% else %>
				
				<% end %>					
		
				 <% if !food.vit_c.nil? %>
					<div class="pull-right"> <%= h('%.0f' % ((food.vit_c.to_f*multiplication_factor/@dvs[:vit_c])*100)) %>%</div>
					    <div class="nut-label">Vitamin C</div>      
					
							
					
				<% else %>
		
				<% end %>
	</div>
						
		
			<% end %>
		
	<br/>
	
</div>




</div>
