
         <div class="home-menu">
         <ul class="nav nav-list">
            <li class="nav-header">
             Dashboard Menu
            </li>
         
            <li>
            
                <%= link_to "Track Stats", :stats %>
              
            </li>
             <li>
                 <%= link_to "Track Activity", :pactivities %>
             </li>
              <li>
                  <%= link_to "Track Nutrition", nutrition_index_path %>
            </li>
           
              </ul>
       
    
         
         
         
         
         <ul class="nav nav-list">
            <li class="nav-header">
            Groups
            </li>
            <% current_user.memberships.each do |membership| %>
            <li>
               <%= link_to membership.group.name, membership.group %> 
            </li>
            <% end %>
            <li>
            	<hr>
            </li>
            <li>
            	<%= link_to 'New Group', new_group_path %>
            </li>
              </ul>
              </div>
       
     
