<div class="row">

<div class="menu span3">
<%= render 'menu' %>
</div>

<div  id="myModalStat"  class="modal hide fade">
  
      <%= render 'shared/stat_form' %>
    
</div>

<div  id="myModalFood"  class="modal hide fade">
  
     
     
  
</div>
<div  id="myModalList"  class="modal hide fade">
 
      <%= render 'shared/checklist_form' %>
   
</div>
<div  id="myModalNote"  class="modal hide fade">

      <%= render 'shared/note_form' %>
   
</div>


  <div class="span9" id="feed-body">
 
 <div id="posts_form"><%= render :partial => 'posts/form' %></div>
  <div id="activity_feed"><%= render "activities/index" %></div>



</div>
</div>
