<div class="row">

<div class="menu span3">
<%= render 'menu' %>
</div>

<div  id="myModalStat"  class="modal hide fade">
  
      <%= render 'shared/stat_form' %>
    
</div>

<div  id="myModalFood"  class="modal hide fade">
  
      <%= render 'shared/meal_form' %>
     
  
</div>
<div  id="myModalList"  class="modal hide fade">
 
      <%= render 'shared/checklist_form' %>
   
</div>
<div  id="myModalNote"  class="modal hide fade">

      <%= render 'shared/note_form' %>
   
</div>


  <div class="span9" id="feed-body">

  <div id="posts">
  
  <%= simple_form_for @new_post do |f| %>
  <div class="row">
  <div class="span5 controls">
   <%= f.input :content, :input_html => { :class => 'input-xlarge'}  %>
   </div>
   <div class="span2">
   <%= f.submit "Post", class: "btn btn-large btn-primary" %>
   </div>
   <% end %>
   </div>
   
	<%= render @posts %>

  </div>
  <div id="paginator">
      <%= paginate @posts, :remote => true %>
  </div>

</div>
</div>
