<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @mental_activity.user %>
</p>

<p>
  <b>Mental activity type:</b>
  <%= @mental_activity.mental_activity_type %>
</p>

<p>
  <b>Value:</b>
  <%= @mental_activity.value %>
</p>

<p>
  <b>Date:</b>
  <%= @mental_activity.date %>
</p>

<p>
  <b>Time:</b>
  <%= @mental_activity.time %>
</p>

<p>
  <b>Duration:</b>
  <%= @mental_activity.duration %>
</p>


<%= link_to 'Edit', edit_mental_activity_path(@mental_activity) %> |
<%= link_to 'Back', mental_activities_path %>
