<%= simple_form_for @pactivity do |f| %>
    <div class="span5">
    	<h1>New Activity</h1>
    <div class="pactivity-form">
    <%= f.input :name, :placeholder => "Start Typing....",:hint => "Any activity eg; Weight Lifting, Laundry..", :as => :autocomplete,  :url => autocomplete_exercise_name_pactivities_path, :update_elements => {:id => "#pactivity_exercise_id", :category => "#pactivity_category"}, :label => "Activity" %>
     
    <%= f.input :exercise_id, :as => "hidden"%>
    <%= f.input :category, :as=> "hidden" %>
    <%= f.input :date %>

    <% if @pactivity.time == nil %>
    <%= f.input :time, :as => "string", :label => "Start Time", :input_html => {:value => Time.now.strftime("%r") }%>
    <% else %>
     <%= f.input :time, :as => "string", :label => "Start Time", :input_html => {:value => @pactivity.time.strftime("%r")} %>
    <% end %>
    <%= f.input :duration, :hint => "in minutes" %>
    </div>
    <div class="form-actions">
    <%= f.button :submit, "Log Activity", :disable_with => "Please wait..."  %>
    <%= link_to 'Back', pactivities_path %>
    </div>
    </div>
<% end %>


<script>
  
  $("#pactivity_time").AnyTime_picker(
    { format: "%r", 
      labelTitle: "Start Time",
      labelHour: "Hours",
    
      labelMinute: "Minutes" } );
</script>