<%= simple_form_for @pactivity,:input_html=> {:class=> "form-horizontal"}, :validate => true, :remote => true do |f| %>
<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Log an activity</h2>
</div>

<div class="modal-body">

  
    
  
    <%= f.input :name, :placeholder => "Start Typing....",:hint => "Any activity eg; Weight Lifting, Laundry..", :as => :autocomplete,  :url => autocomplete_exercise_name_pactivities_path, :update_elements => {:id => "#pactivity_exercise_id", :category => "#pactivity_category"}, :label => "Activity" %>
     
    <%= f.input :exercise_id, :as => "hidden"%>
    <%= f.input :category, :as=> "hidden" %>
    <%= f.input :date, :input_html => {:class=>"input-small"}%>

    <% if @pactivity.time == nil %>
    <%= f.input :time, :label => "Start Time", :input_html => {:class => "input-small", :value => Time.now.strftime("%r") }%>

    <% else %>
     <%= f.input :time, :label => "Start Time", :input_html => {:class=> "input-small", :value => @pactivity.time.strftime("%r")} %>
    <% end %>
    <%= f.input :duration, :hint => "in minutes" %>
     
</div>

<div class="modal-footer">
    <%= f.button :submit, "Log Activity", :disable_with => "Please wait...", :class=> "btn btn-primary"  %>
    <button data-dismiss="modal" class="btn">Cancel</button>
 </div>

<% end %>

