<% @pactivities.sort.reverse.each do |date, pactivities| %>
  <tr>
  	<td><h3><%= date %></h3></td>
  	<td></td>
  	<td></td>
  	<td></td>
  </tr>
  <% for pactivity in pactivities %>
  <tr id="<%= dom_id(pactivity) %>">
  	
    <td><%= pactivity.exercise.name%></td>
    <td><%= pactivity.duration %></td>
    <td> <%= pactivity.burned %></td>
   
    <td>
    <%= link_to 'Edit', edit_pactivity_path(pactivity), :remote => true, :class=> "btn btn-mini"%>
    <%= link_to 'Destroy', pactivity, confirm: 'Are you sure?', :remote => true, method: :delete , :class=> "btn btn-mini btn-danger"%>
    </td>
  </tr>
  <% end %>
  <tr>
  	<td><b>Totals</b></td>
  	<td><b><%= pactivities.sum { |pactivity| pactivity.duration } %></b></td>
  	<td><b><%= pactivities.sum { |pactivity| pactivity.burned } %></b></td>
  	<td></td>
  </tr>
  <% end %>
