<% @pactivities.sort.reverse.each do |date, pactivities| %>
  <tr>
  	<td><h4><%= date.strftime("%a, %B, %d, %Y") %></h4></td>
  	<td></td>
  	<td></td>
  	<td></td>
  </tr>
  <% for pactivity in pactivities %>
  <tr id="<%= dom_id(pactivity) %>">
  	
    <td><%= pactivity.exercise.name%></td>
    <td><%= best_in_place pactivity, :duration,:html_attrs => {:class=>"input-mini"} %></td>
    <td> <%= pactivity.burned %></td>
   
    <td>
   
    <%= link_to pactivity, confirm: 'Are you sure?', :remote => true, method: :delete  do %>
    <i class="icon-trash"></i>
    <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
  	<td><b>Totals</b></td>
  	<td><b><%= pactivities.sum { |pactivity| pactivity.duration } %></b></td>
  	<td><b><%= pactivities.sum { |pactivity| pactivity.burned } %></b></td>
  	<td></td>
  </tr>
  <% end %>
