<% @pactivities.sort.reverse.each do |date, pactivities| %>
  
  <div>
  <div class="pactivity-header row-fluid">
  <div class="span6">
  <h4><%= date.strftime("%a, %B, %d, %Y") %></h4>
  </div>
  <div class="span2"><h4>Duration</h4></div>
  <div class="span2"><h4>Burned</h4></div>
  <div class="span2"><h4>Controls</h4></div>
  </div>
 
  <% for pactivity in pactivities %>
  <div class="pactivity-item row-fluid" id="<%= dom_id(pactivity) %>">
  	
    <div class="span6"><%= pactivity.exercise.name%></div>
    <div class="span2"><%= best_in_place pactivity, :duration,:html_attrs => {:class=>"input-mini"} %></div>
    <div class="span2"> <%= pactivity.burned %></div>
   
    <div class="span2">
   
    <%= link_to pactivity, confirm: 'Are you sure?', :remote => true, method: :delete  do %>
    <i class="icon-trash"></i>
    <% end %>
    </div>
  </div>
  <% end %>
  
  </div>

 <% end %>
