
  <tr id="<%= dom_id(pactivity) %>">
    <td><%= pactivity.exercise.name%></td>
    <td><%= pactivity.duration %></td>
    <td> <%= pactivity.burned %></td>
    <td><%= link_to 'Edit', edit_pactivity_path(pactivity), :remote => true, :class=> "btn"%></td>
    <td><%= link_to 'Destroy', pactivity, confirm: 'Are you sure?', :remote => true, method: :delete , :class=> "btn btn-danger"%></td>
  </tr>