<h1>Physical Activities</h1>

<table class="table table-striped">
  <tr>
   
    <th>Physical Activity</th>
    <th>Duration</th>
    <th>Calories Burned</th>
    <th></th>
    <th></th>
    <th></th>
 
  </tr>

<% @pactivities.each do |pactivity| %>
 

 

  <tr>
    

    <td><%= pactivity.exercise.name%></td>
    <td><%= pactivity.duration %></td>
    <td>  <%= pactivity.burned %></td>
    <td><%= link_to 'Show', pactivity %></td>
    <td><%= link_to 'Edit', edit_pactivity_path(pactivity) %></td>
    <td><%= link_to 'Destroy', pactivity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_pactivity_path %>
