<div class="row-fluid activity-item">
	  
      <div id="activity-sidebar" class="span2 activity-sidebar">

     
             <%= image_tag @pactivity.user.profile.avatar.url(:thumb), :class => "avatar" %>
             <h3><%= link_to @pactivity.user.username, @pactivity.user %></h3>
             <%= time_ago_in_words(@pactivity.date) %> ago.
   
      
  
       </div>
       <div id="post-body" class="span8 activity-body">
             <div class="activity-content">
             <p>
              
              Logged <%= link_to "activity", @pactivity %> <%= @pactivity.name %> for <%= @pactivity.duration %> minutes, 
           burning <%= @pactivity.burned %> calories
            
             </p>
             </div>
     
           
             <%= render "pactivities/likes", :like_object => @pactivity %>
       
           
         
    </div>
     <div class="span2 activity-logo" >
     	<div class="activity-logo visible-desktop">
         <i class="icon-bolt"></i> 
        </div>
    </div>
</div>
             