<% cals = 0 %>
<% if @pactivity.user.profile.weight > 0 %>
  <% cals = (((@pactivity.exercise.mets * 3.5 * (@pactivity.user.profile.weight  / 4.5359237))/200).round * @pactivity.duration) %> 
<% end %>
<p id="notice"><%= notice %></p>



<p>
  <b>Physical Activity:</b>
  <%= @pactivity.exercise.name %>
</p>

<p>
 <b>Duration:</b>
  <%= @pactivity.duration %> Minutes
 </p>

<b>You Burned</b>
  <%= cals %> Calories
 </p>

<%= link_to 'Edit', edit_pactivity_path(@pactivity) %> |
<%= link_to 'Back', pactivities_path %>
