<%= simple_form_for @meal,:validate => true, :remote => true do  |f| %>
<div>


    <div class="control-group">
    <%= f.input :name %>
    <%= f.input :scope, :as => 'select', :collection => @scopes, :include_blank => false, :label => "Who sees this?" %>
    
    <% if params[:date] %>
    <%= f.input :date, :as => "string", :input_html => {:value => params[:date]} %>
    
    <% else %>
    <%= f.input :date, :as => "string", :input_html => {:value => Date.today} %>
    <% end %>
 
     <%= f.simple_fields_for :ingredients do |f| %>
     	<%= render 'meals/ingredient_fields', :f => f%>
     <% end %>
       <% ingcount = 0%>
       <div class="modal-header">
        Add Ingredients:
       </div>
       <div id="ingredient" class="modal-body">
       	<div id="ingredient_from_list", class="ingredient_from_list">
         <%= link_to_add_association '+ Ingredient', f, :ingredients, :class=>"btn btn-mini" %>
        </div>
       </div>
    <div class="modal-footer">
    <%= f.button :submit, :disable_with => "Please wait...", :class=> "btn btn-primary"%>
    <a href="javascript:toggleDiv('meal-form');javascript:toggleDiv('header-date');", class="btn">Cancel</a>
    </div>
  <% end %>
  </div>
</div>


<script>
	

    
	$(document).ready(function() {
     $('#ingredient').bind('insertion-callback',
         function() {
        
       
           $('.autocomplete').bind('railsAutocomplete.select', function(event, data){
             /* Do something here */
           
           $(this).parent().find('.food-id').val(data.item.id); 
           $(this).parent().find('.servings-id').val(data.item.gmwt_1); 
           $(this).parent().find('.food-serv-desc').html("<h4>"+data.item.gmwt_desc+"</h4>"); 
           
      
              
    
             });
           
         });
         
         
       });
</script>
