<%= semantic_nested_form_for @meal, :validate => true  do |f| %>  
   <%= f.inputs do %>
  
  

  <%= f.input :date, :value => @meal.date ||= params[:date] ||= Date.today, :size => 10 %>
 

                     
                      
                      <%= f.fields_for :ingredients %>
                      
               
                      
			
		        
			       
			
	
	
        <%= f.link_to_add "Add another ingredient", :ingredients %></p>
	<%= f.input :favorite, :as => 'boolean', :default => false %>
	
	<%= f.input :fave_name %>
        <%= f.actions :submit, :cancel %>
        <% end %>
          
				
<% end %>


