
 <table class="table table-striped">
    <tbody>
    

      <tr>
      <td>
      <div>
   	  <h2>
       <%= link_to meal.name,(meal) %>
      </h2>
       <%= link_to meal, confirm: 'Are you sure?', method: :delete do %>
       	<i class="icon-trash"></i>
       <% end %>
      </div>
    
    
    
      </td>

     </td>
     <td>
     	
     </td>
    </tr>

  
    <% meal.ingredients.each do |ingredient|%>
    <tr>
      <td>
      <%= ingredient.what_food %>
      </td>
      <td>
      </td>
        
     
    </tr>
    <tr>
    <td>
    	<%= ingredient.cals.round %> Calories | <%= ingredient.prot.round %> g Protein | <%= ingredient.fats.round %> g fats | <%= ingredient.carb.round %> g Carbs
   	</td>
   	 <td>
      </td>
   </tr>
    
 
 
  <% end %>
       
  


    
  

  </tbody>

</table>
 