 <table class="table tabel-horizontal">
    <tbody>
    <% if @meals.count == 0 %> 
       <tr class="no-entry-foods">
       	<div class= "no-entry span7">
    	You have not entered any foods for this date. 
    	</div>
    	
       <tr>
       <% else %>

<tr>
      <td>
   	  <h2>
     <%= link_to meal.name,(meal) %>
      <h2>
       <h3>
      <%= link_to 'Destroy', meal, confirm: 'Are you sure?', method: :delete %>|<%= link_to 'Edit', edit_meal_path(meal) %></td>
       </h3>
     </td>
     <td>
     	
     </td>
    </tr>

  
    <% meal.ingredients.each do |ingredient|%>
    <tr>
      <td>
      <%= ingredient.what_food %>
      </td>
      <td>
      </td>
        
     
    </tr>
    <tr>
    <td>
    	<%= ingredient.cals.round %> Calories | <%= ingredient.prot.round %> g Protein | <%= ingredient.fats.round %> g fats | <%= ingredient.carb.round %> g Carbs
   	</td>
   	 <td>
      </td>
   </tr>
    
 
  <% end %>
  <% end %>
       
  


    
  

  </tbody>

</table>
 