<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @meal.user %>
</p>

<p>
  <b>Mcategory:</b>
  <%= @meal.mcategory %>
</p>

<p>
  <b>Ingredient:</b>
  <% @meal.foods.each do |food| %>
  <%= food.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
