<% @physical_activities.sort.reverse.each do |date, physical_activities| %>
  <div class="physical_activity-header row-fluid">
  	<div class="physical_activity-date">
  	<h4><%= date.strftime("%a, %B, %d, %Y") %></h4>
  	</div>
  </div>
  <% for physical_activity in physical_activities %>
  <div class="item-enclosure">
  	<div class="physical_activity-item row-fluid" id="<%= dom_id(physical_activity) %>">
  		<% if physical_activity.source == nil %>
    	<div class="physical_activity-row span6"><%= physical_activity.physical_activity_type.name%></div>
    	<div class="physical_activity-row span2"></div>
    	<div class="physical_activity-row span2"></div>
    	<% else %>
        <div class="physical_activity-row span6"><%= physical_activity.physical_activity_type.name%></div>
    	<div class="physical_activity-row span2"></div>
    	<div class="physical_activity-row span2"></div>
    	<% end %>
   		<div class="physical_activity-controls span2">
    		<%= link_to physical_activity, confirm: 'Are you sure?', :remote => true, method: :delete  do %>
    		<i class="icon-trash"></i>
    	    <% end %>
    	</div>
   </div>
   </div>
  <% end %>
<% end %>