


<div id="form_top_right">
	
	
</div>

<% food = @food %>
<% if food.serving_grams == 0 %>
<% serving_size = 100 %>
<% elsif food.serving_grams.nil? %>
<% serving_size = 100 %>
<%else%>
<% serving_size = food.serving_grams %>
<% end %>



<% cals = ((food.calories * serving_size) / 100) %>
<% fats = ((food.lipid_total * serving_size) / 100) %>
<% carb = ((food.carbohydrates * serving_size) / 100) %>
<% sfat = ((food.fa_sat * serving_size) / 100) %>
<% sugs = ((food.sugar_total * serving_size) / 100) %>
<% fibr = ((food.fiber * serving_size) / 100) %>
<% chol = ((food.cholesterol * serving_size) / 100) %>
<% sodi = ((food.sodium * serving_size) / 100) %>
<% prot = ((food.protein * serving_size) / 100) %>
<% calc = ((food.calcium * serving_size) / 100) %>
<% iron = ((food.iron * serving_size) / 100) %>
<% vitc = ((food.vit_c * serving_size) / 100) %>

<h1><%= food.name %></h1>
<div class="span3 well">

<div>Nutrition Facts</div>
<div>Calories <%= h('%.0f' % (cals)) %></div>
		
<div>Calories from Fat <%= h('%.0f' % (((food.lipid_total* serving_size) / 100) *9))  %></div>					 		
<div>	
<% if food.gmwt_desc2.nil? %>	
 Serving Size: 100g
<% elsif food.gmwt_desc2 == 0 %>
 Serving Size: 100g %>
<% else%>
 Serving Size: <%= food.gmwt_desc2 %>
<% end %>
</div>	

			

			
 <div class="pull-right"><%= ((fats/@dvs[:total_fat]) * 100).round/1 %>%</div>    
      
       <div class="nut-label">Total Fat <%= h('%.0f' % (fats)) %>g</div>            
			
 <div class="pull-right"><%= ((carb/@dvs[:tot_carbs]) * 100).round/1 %>%</div>   
				
	<div class="nut-label">Total Carbs <%= h('%.0f' % (carb)) %>g</div>            
				
  <div class="pull-right"><%= ((sugs/@dvs[:sugar_total]) * 100).round/1 %>%</div>    	           
					 
        <div class="nut-label">Sugars <%= h('%.0f' % (sugs)) %>g</div>            
      
  <div class="pull-right"><%= ((sfat/@dvs[:fa_sat]) * 100).round/1 %>%</div>  	
    
  <div class="nut-label">Sat. Fats <%= h('%.0f' % (sfat)) %>g</div>                
 
  <div class="pull-right"><%= ((fibr/@dvs[:fiber]) * 100).round/1 %>%</div>            			

  <div class="nut-label">Dietary Fiber <%= h('%.0f' % (fibr)) %>g</div>            
  
  <div class="pull-right"><%= ((chol/@dvs[:cholesterol]) * 100).round/1 %>%</div>      
     
  <div class="nut-label">Cholesterol <%= h('%.0f' % (chol)) %>mg</div>            
   
  <div class="pull-right"><%= ((sodi/@dvs[:sodium]) * 100).round/1 %>%</div>          
                  
        
 <div class="nut-label">Sodium <%= h('%.0f' % (sodi)) %>mg</div>          
  
  <div class="pull-right"><%= ((prot/@dvs[:protein]) * 100).round/1%>%</div>             
               
  <div class="nut-label">Protein <%= h('%.0f' % (prot)) %>g</div>            
    
           
      
				 <% if food.calcium != 0.0 %>
  <div class="pull-right"> <%= ((calc/@dvs[:calcium]) * 100).round/1 %>%</div>				
	 <div class="nut-label">Calcium</div>      
       
						
				<% else %>
				
				<% end %>
				 <% if !food.iron.nil? %>
					<div class="pull-right"><%= ((iron/@dvs[:iron]) * 100).round/1 %>%</div>
					       <div class="nut-label">Iron</div>      
					
							
				
				<% else %>
				
				<% end %>					
		
				 <% if !food.vit_c.nil? %>
					<div class="pull-right"> <%= ((vitc/@dvs[:vit_c]) * 100).round/1 %>%</div>
					    <div class="nut-label">Vitamin C</div>      
					
							
					
				<% else %>
		
				<% end %>
	</div>
<div class="span9">
	<p>The nutrient composition of food may vary due to: genetic, environmental and processing variables; changes in the manufacturer's product formulation; and cooking and preparation techniques.</p>    
	</div>
