<% reply = defined?(reply) ? reply : false %>
  
      	
       <div class="comment-item" id="comment_<%= comment.id %>">
	   <% if current_user == comment.owner %>
             <div class="comment-delete row-fluid">
              
              <%= link_to "x", comment_path(comment), :method => :delete, :remote => true,  :class=> "btn close" %> 
              </div>
               <% end %>
               
    
        
     

       <div id="comment-content">
          <div class="comment-body">
           <div class="comment-img">
           <%= image_tag comment.owner.profile.avatar.url(:mini), :class=> 'avatar'  %>
           </div>
            <p>
            
            <%= link_to comment.owner.username, comment.owner %> <b>Said: </b>
            <%= comment.body %>
            </p>
         
          </div>
      
            <%= render "opinio/comments/likes", :like_object => comment %>
            
            
              <%# this enables only 1 level of replies %>
              <% if Opinio.accept_replies && !reply %>
              <div class="commemnt-reply">
              <%= link_to t('opinio.actions.reply'), reply_comment_path(comment), :remote => true %>
              <ul id="comment_<%= comment.id %>_replies" class="replies">
              <%= render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true} %>
              </ul>
              </div>
              <% end %>
         
        
       </div>
 
</div>


