<% reply = defined?(reply) ? reply : false %>
  
      	
       <div class="comment-item" id="comment_<%= comment.id %>">
	   <% if current_user == comment.owner %>
             <div class="comment-delete pull-right">
              
              <%= link_to "x", comment_path(comment), :method => :delete, :remote => true,  :class=> "btn close" %> 
              </div>
               <% end %>
               
    
        
     

       <div id="comment-content">
          <div class="comment-body">
           
            <p>
            <%= image_tag comment.owner.profile.avatar.url(:mini), :class=> 'avatar'  %>
            <%= comment.owner.username %> Said: 
            <%= comment.body %>
            </p>
         
          </div>
      
            
            
             <div class="comment-likes">
             <%= time_ago_in_words(comment.created_at) %> ago.
             
             <%- if current_user.likes? comment -%><%= unlike_link_for comment  %>
             <%- else -%>
             <%= like_link_for comment %>
             <%- end -%>
              
              (<%= comment.like_count %> Given)
             
             
              </div>
              <%# this enables only 1 level of replies %>
              <% if Opinio.accept_replies && !reply %>
              <div class="commemnt-reply">
              <%= link_to t('opinio.actions.reply'), reply_comment_path(comment), :remote => true %>
              <ul id="comment_<%= comment.id %>_replies" class="replies">
              <%= render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true} %>
              </ul>
              </div>
              <% end %>
         
        
       </div>
 
</div>


