



<div class="span3" id="new_comment_<%= commentable.id %>" style="display:none;">
  <% if send(Opinio.current_user_method) %>
     
    <%= form_for Comment.new, :remote => true do |f| %>
  <div class="control-group">
   <div class="input-append well span4">
        <%= f.text_area :body, :class=>"input-xlarge span3"%><%= f.submit "Comment", :class=> "btn" %>
   </div>
   </div>
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
      
    <% end %>
  <% else %>
    <p>
      <%= t('opinio.messages.must_be_logged_in_to_comment') %>
    </p>
  <% end %>
</div>






