
  <div class="post-form-container row">
  <%= simple_form_for @post , :remote => true do |f| %>

   
   <%= f.input :parent_id, :as => 'hidden', :input_html =>{:value => @parent}%>
   <div class="post-form-box">
   <%= f.input :text,  :label => false, :input_html => {:class=> "post-input"}%>

   <div class="row">
       <% if @parent == '0' %>
        <div class="post-form-assoc span4">
     	
        <%= f.input :scope, :as => 'select', :collection => @scopes, :include_blank => false, :label => false, :input_html => {:class => "pull-right"} %>

     
        </div>
        <div class="post-form-buttons span1">
      <%= f.submit "Post", :class => "btn btn-primary" %>
  
       </div>
      <% else %>
      <div class="post-form-buttons span1">
      <%= f.submit "Post", :class => "btn btn-primary " %>
  
      </div>
      <% end %>
       </div>
     </div>
   
   <% end %>
    </div>


   


