      <div class="row-fluid activity-item">
	  
      <div id="activity-sidebar" class="span2 activity-sidebar">

     
             <%= image_tag @post.user.profile.avatar.url(:thumb), :class => "avatar" %>
             <h3><%= link_to @post.user.username, @post.user %></h3>
             <%= time_ago_in_words(@post.created_at) %> ago.
   
      
  
       </div>
       <div id="post-body" class="span8 activity-body">
             <div class="post-content">
             <p>
              <%if @post.parent_id > 0%> to a group: <% end %>
              <%= @post.text %>
             </p>
             </div>
     
           
         
            
             <%= render "posts/likes", :like_object => @post %>
      
        
                   
           
        
           



    </div>
     <div class="span2 activity-logo" >
     	<div class="activity-logo visible-desktop">
         <i class="icon-pencil"></i> 
        </div>
    </div>
</div>
