      <div class="row-fluid activity-item">
	  
      <div id="activity-sidebar" class="span2 activity-sidebar">

     
             <%= image_tag @post.user.profile.avatar.url(:thumb), :class => "avatar" %>
             <h3><%= link_to @post.user.username, @post.user %></h3>
             <%= time_ago_in_words(@post.created_at) %> ago.
   
      
  
       </div>
       <div id="post-body" class="span8 activity-body">
             <div class="post-content">
             <p>
              <% if @post.parent_id > 0%> to a group: <% end %>
              <% if @post.reply_to_id  %> in reply to: <% end %>
              <%= (mention_linker(@post.text)).html_safe %> 
             </p>
             </div>
     
           
         
            
         <div id="expanded_<%= @post.id %>" class="expanded">
         <div class="expanded-menu row-fluid">
         	<div class="expanded-like-count span2">
         		<div>
         		<%= @post.likes.count %>
         		</div>
         		<div>Props</div>
         	</div>
         	<div class="span2">
         	</div>
         	
         	<div class="span8">
         		<% @post.activities.each do |activity| %>
         		<% activity.target.likes.each do |likeuser| %>
         		 <%= image_tag likeuser.user.profile.avatar.url(:mini), :class => "avatar" %>
         		<% end %>
         	</div>
         </div>
         <div class="attachment">
         	<% if activity.target.attachment? %>
         	 <%= image_tag activity.target.attachment.url(:medium), :class => "img-polaroid attachment" %>
         	<% end %>
         </div>
         <div class="reply-list">
         	<% activity.replies.each do |reply| %>
         	  <div class="row-fluid">
         	  	<div class="span1 reply-sidebar">
         	  		<%= image_tag reply.user.profile.avatar.url(:mini), :class=> "avatar" %>
         	  	</div>
         	  	<div class="span8">
         	  	<div class="reply-header">
         	  	<div class="reply-time pull-right">
         	  		<i class="icon-time"></i> <%= time_ago_in_words(reply.created_at) %>
         	  	</div>
         	  	<% self_posted = reply.user == current_user %>
         	  	<%= self_posted ? "You" : link_to(reply.user.username) %> said:
         	    
         	  	</div>
         	  	<div class="reply-body">
         	  	<%= reply.text %>
         	  	</div>
         	  	</div>
         	  </div>
         	<% end %>
         	<% end %>
         </div>
         </div> 
      
        
                   
           
        
           



    </div>
     <div class="span2 activity-logo" >
     	<div class="activity-logo visible-desktop">
         <i class="icon-pencil"></i> 
        </div>
    </div>
</div>
