<h1>Listing checklists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checklists.each do |checklist| %>
  <tr>
    <td><%= checklist.name %></td>
    <td><%= link_to 'Show', checklist %></td>
    <td><%= link_to 'Edit', edit_checklist_path(checklist) %></td>
    <td><%= link_to 'Destroy', checklist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checklist', new_checklist_path %>
