<%- model_class = Goal.new.class -%>
<% content_for :sidebar do %>
	 <%= render "stats/snav"%>
<% end %>


<div id="goal-modal" class="modal hide fade">
	
	<%= render "goals/form" %>
</div>


<div class="stats-top row-fluid">
	<div class="span10">
	</div>
	<div class="span2">
	<a class="btn btn-primary" data-toggle="modal" href="#goal-modal">New Goal <i class="icon-bar-chart"></i></a>
	</div>
	
</div>
<table class="table table-striped">

    <tr>
    
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  
   <tbody id="goals">
  
    <%= render "goals/goal" %>
      
   </div>
  </tbody>
</table>


