<%- model_class = Goal.new.class -%>
<% content_for :sidebar do %>
	Menu Needed
<% end %>

<%= content_for :top_left do %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<% end %>

<div id="goal-form">
	
	<%= render "goals/form" %>
</div>


<table class="table table-striped">
  <thead>
    <tr>
    
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="goals">
  
    <%= render @goals %>
      
   </div>
  </tbody>
</table>


