<% unless activity.target.nil? %>
<div class="row activity-item">
      <div id="comment-sidebar" class="span2">

          <div id="comment-avatar" class="span1">
              <%= image_tag activity.user.profile.avatar.url(:thumb), :class=> 'avatar' %>
          </div>
          <div class="comment-avatar">
             <h3><%= activity.user.username %></h3>
             <%= time_ago_in_words(activity.created_at) %> ago.
         </div>
  
     </div>
    <div id="comment-body" class="span3">
             <div class="comment-content">
                 <%= activity.user.username%> Commmented on <%= activity.target.commentable_id %>
             </div>
     
              <div id="comment-footer"> 
              <div class="control">
                  Like - Flag
                </div>
              </div>




         

    </div>
   </div>

<% else %>

<div class="content-removed">
 
</div>

<% end %>

