<% unless activity.target.nil? %>
<div class="row activity-item">
      <div id="comment-sidebar" class="span2">

          <div id="comment-avatar" class="span1">
          <a href="#" id="example"  rel="popover" title="A Title" ><%= image_tag activity.user.profile.avatar.url(:thumb), :class=> 'avatar' %></a>
          </div>
          <div class="comment-avatar">
           <h3><%= activity.user.username %></h3>
          	
     
             <div id="popover_content_wrapper" style="display: none">
             <div>This is your div content</div>
             </div>
             <%= time_ago_in_words(activity.created_at) %> ago.
         </div>
  
     </div>
    <div id="comment-body" class="span4">
             <div class="comment-content">
                 <%= activity.user.username%> Commmented on <%= activity.target.commentable_id %>
             </div>
     
              <div id="comment-footer"> 
              <div class="control">
                 <div class="comment-likes span3">
             <%= activity.target.like_count  %> Like this     
             <%- if current_user.likes? activity.target -%><%= unlike_link_for activity.target  %>
             <%- else -%>
             <%= like_link_for activity.target %>
             <%- end -%>
             </div>
                </div>
              </div>



<script>
$(document).ready(function(){
  $('#example').popover({ 
    html : true,
    content: function() {
      return $('#popover_content_wrapper').html();
    }
  });
});
</script>

         

    </div>
   </div>

<% else %>

<div class="content-removed">
 
</div>

<% end %>


