<% unless activity.target.nil? %>
<div class="row activity-item">
       <div id="post-sidebar" class="span2">

          <div  class="span1 ingredient-avatar">
            <%= image_tag activity.user.profile.avatar.url(:thumb), :class=> 'avatar' %>
          </div>
          <div class="ingredient-avatar">
             <h3><%= activity.user.username %></h3>
             <%= time_ago_in_words(activity.created_at) %> ago.
         </div>
  
     </div>
    <div id="ingredient-body" class="span6">
             <div class="ingredient-content">
             Tracked an ingredient of <%= link_to activity.target.what_food, ingredient_path(activity.target) %>
             
           
             </div>
     
              <div id="ingredient-footer"> 
               <div class="control">
                    <div class="comment-likes span3">
             <%= activity.target.like_count  %> Like this     
             <%- if current_user.likes? activity.target -%><%= unlike_link_for activity.target  %>
             <%- else -%>
             <%= like_link_for activity.target %>
             <%- end -%>
             </div>
                </div>
              </div>




    </div>
</div>
<% else %>

<div class="content-removed">

</div>

<% end %>


