<% unless activity.target.nil? %>
<div class="row-fluid activity-item">
       <div id="activity-sidebar" class="span2 activity-sidebar">

       
            <%= image_tag activity.user.profile.avatar.url(:thumb), :class=> 'avatar' %>
         
             <h3><%= link_to activity.user.username, activity.user %></h3>
             <%= time_ago_in_words(activity.created_at) %> ago.
       
  
       </div>
             <div id="meal-body" class="span8 activity-body">
             <div class="meal-content">
              Had <%= link_to activity.target.name, meal_path(activity.target) %> Calories (<%= activity.target.cals.round %>)
              <% activity.target.ingredients.each do |ingredient| %>
              <div class="meal-ingredient">
              	<%= ingredient.what_food %>
              </div>
              <% end %>
              
             
           
             </div>
     
             
             <%= render "activities/likes", :like_object => activity %>
             
             <div id="comments_list">
               <ul id="comments_<%= activity.target.id %>">
               <%= render_comments activity.target %>
               </ul>
             </div>

         <div id="comment-form">
          <%= render_comments_form activity.target %>
         </div>




    </div>
     <div class="span2 activity-logo" >
    </div>
</div>
<% else %>

<div class="content-removed">

</div>

<% end %>


