<% unless activity.target.nil? %>

      <div class="row-fluid activity-item">
	  
      <div id="post-sidebar" class="span2 post-sidebar">

     
             <%= image_tag activity.user.profile.avatar.url(:thumb), :class => "avatar visible-desktop" %>
             <h3><%= link_to activity.user.username, activity.user %></h3>
             <%= time_ago_in_words(activity.created_at) %> ago.
   
      
  
       </div>
       <div id="post-body" class="span8 post-body">
             <div class="post-content">
             <p>
              <%= link_to "Posted", activity.target %>:
              <%= activity.target.text %>
             </p>
             </div>
     
           
         
            
             <%= render "activities/likes", :like_object => activity %>
      
        
                   
           
        
           




          <div id="comments_list" class="row-fluid">
          <div id="comments_<%= activity.target.id %>">
          	<%= render_comments activity.target, :page => params[:page] %>
          
          </div>
          
        
          </div>
           
         <div id="comment-form" class="row-fluid">
          <%= render_comments_form activity.target %>
         
         </div>
    </div>
     <div class="span2 activity-logo" >
    </div>
</div>
<% else %>

<div class="content-removed">

</div>

<% end %>


