<% unless activity.target.nil? %>
<div class="row-fluid activity-item">
       <div id="activity-sidebar" class="span2 activity-sidebar">
       	     <%= image_tag activity.user.profile.avatar.url(:thumb), :class=> 'avatar' %>
             <h3><%= link_to activity.user.username, activity.user %></h3>
             <i class="icon-time"></i> <%= time_ago_in_words(activity.created_at) %>
       </div>
    <div id="stat-body" class="span8 activity-body">
             <div class="stat-content">
             Tracked a <%= link_to activity.target.category.name, activity.target %> of <%= activity.target.value %> <%= activity.target.category.sunit %>
           
             </div>
     
              <div id="stat-footer"> 
                <div class="control">
                <%= render "activities/likes", :like_object => activity %>
                </div>
              </div>
    </div>
    <div class="span2 activity-logo" >
    	<div class="activity-logo visible-desktop">
         <i class="icon-bar-chart"></i> 
        </div>
    </div>
</div>

<% else %>

<div class="content-removed">

</div>

<% end %>

