<%= simple_form_for @stat, :validate => true, :input_html => {:class => "form-horizontal"}, :remote => true do |f| %>
<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Track your...</h2>
</div>
<div class="modal-body">
	
   <div id="stat_errors">
	  
   </div>
   <div class="row-fluid">
      <div class="span8">
      
      <%= f.input :stype ,:label => "Stat Name (Weight, Blood Glucose, etc)",:placeholder => "Start Typing....", :as => :autocomplete,  :url => autocomplete_category_name_stats_path, :update_elements => {:id => "#stat_category_id", :sunit => "#stat_sunit"} %>
	  <%= f.input :value %>
	  <%= f.input :sunit,:input_html => {:class => "input-mini"}, :label => "Units"%>
	  
	  <%= f.input :scope, :as => 'select', :collection => @scopes, :include_blank => false, :label => "Who sees this?" %>
        
      <%= f.input :category_id, :as => "hidden"%>
      <a href="javascript:toggleDiv('stat-date');"> Change Date</a>
      <div id="stat-date" class="pactivity-date" style="display: none;">
      <%= f.input :date,:ampm => true, :input_html => {:class=>"input-small"}%>
      </div>
      </div>
      
      <div class="span4">
  
      <dl>
      	<dt>
      		Examples
      		
      		<dd>Weight</dd>
      		<dd>Body Fat</dd>
      		<dd>Waist Circumference</dd>
      		<dd>Blood Glucose</dd>
      		<dd>Just Start Typing</dd>
      		
       </dt>
  
      </dl>
      </div>
   </div>
</div>
<div class="modal-footer">
     <%= f.button :submit, "Track Stat", :disable_with => "Please wait...", :class => 'btn-primary' %>
     <button class="btn" data-dismiss="modal">Cancel</button>
</div>
<% end %>
