<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Track your...</h2>
</div>
<div class="modal-body">
<%= simple_form_for @stat, :remote => true do |f| %>
      <%= f.input :stype ,:placeholder => "Start Typing....", :as => :autocomplete,  :url => autocomplete_category_name_stats_path, :update_elements => {:id => "#stat_category_id", :sunit => "#stat_sunit"} %>
	 
	  <%= f.input :value %>
	   <%= f.input :sunit, :label => "Units"%>
	  <%= f.input :date  %>
	  <%= f.input :category_id, :as => "hidden"%>
	  
	 
</div>
  <div class="form-actions">
    <%= f.button :submit, "Track Stat", :class => 'btn-primary', :input_html => { :disable_with => 'Processing...' } %>
    <button class="btn" data-dismiss="modal">Cancel</button>
  </div>
<% end %>
