<div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
  	<h2>Track your...</h2>
</div>
<div class="modal-body">
	 <% @stat.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
<div id="stat_errors" style="display: none;">
	<%= render "stats/errors" %>
</div>
<%= simple_form_for @stat, :validate => true, :remote => true do |f| %>
      <%= f.input :stype ,:label => "Stat Name (Weight, Blood Glucose, etc)",:placeholder => "Start Typing....", :as => :autocomplete,  :url => autocomplete_category_name_stats_path, :update_elements => {:id => "#stat_category_id", :sunit => "#stat_sunit"} %>
	 
	  <%= f.input :value %>
	   <%= f.input :sunit, :label => "Units"%>
	  <%= f.input :date  %>
	  <%= f.input :category_id, :as => "hidden"%>
	  
	 
</div>
  <div class="form-actions">
    <%= f.button :submit, "Track Stat", :class => 'btn-primary', :disable_with => "Please wait..." %>
    <button class="btn" data-dismiss="modal">Cancel</button>
  </div>
<% end %>
