<%= simple_form_for (@stat), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :category, :label => "Type" %>
	 
	  <%= f.input :value %>
	  <%= f.input :date  %>
	 
	  
	  <%= f.input :sunit, :label => "Units"%>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stats_path, :class => 'btn' %>
  </div>
<% end %>
