

      <tr id="<%= dom_id(stat) %>">
     <td></td>
        <td>I recorded a <%= link_to stat.category.name, stat_path(stat) %> of <%= stat.value %> <%= stat.sunit %> on <%= stat.date %> </td>
      
        <td>
        	<% goal = current_user.goals.where(:category_id => stat.category_id)  %>
        	<% goal.each do |goal| %>
        	<% if stat.value > goal.value %>
        	 
           <div class="progress progress-danger">
        	<div class="bar" style="width:<%=number_to_percentage((goal.value.to_f / stat.value.to_f) * 100 ) %>;"> 
        		<%= stat.value - goal.value %> <%= stat.sunit %> to goal
            </div>
        	</div>
        	 <%elsif stat.value < goal.value %>
        	  <div class="progress">
        	 <div class="bar" style="width:<%=number_to_percentage((stat.value.to_f / goal.value.to_f) * 100 ) %>;"> 
        		<%= goal.value - stat.value %> <%= stat.sunit %> to goal
            </div>
        	</div>
        	 <%elsif stat.value == goal.value %>
        	  <div class="progress progress-success">
        	 <div class="bar" style="width:<%=number_to_percentage((stat.value.to_f / goal.value.to_f) * 100 ) %>;"> 
        		At Goal!
            </div>
        	</div>
        	 <% else %>
        	  <div class="progress">
        	 <div class="bar" style="width:<%=number_to_percentage(100) %>;"> 
        		<%= stat.category.name %> <%= goal.value %> 
            </div>
        	</div>
        	  
        	 <% end %>
        	
        	<% end %>
        
        
        </td>
      
  
        
        <td>
          <a  href="javascript:toggleDiv('chart_container_toggle_<%= stat.id %>');" class="btn btn-mini">Chart</a>
        
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stat_path(stat), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stat_path(stat),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger',
                      :remote => true %>
        </td>
      </tr>
      <tr class="chart_row">
      	
      	<td colspan="4" class="chart_row">
        <div style="display:none;" id="chart_container_toggle_<%=stat.id%>">
      	<div id="chart_container_<%=stat.id%>" class="chart-container span11">
      	
       
        <script type="text/javascript">
    
 /**
 * Gray theme for Highcharts JS
 * @author Torstein Hønsi
 */



  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "chart_container_<%= stat.id %>",
        zoomType: 'x'

      },
      title: {
        text: "History"
      },
    
     xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
          second: '%e. %b',
          minute: '%e. %b',
          hour: '%e. %B',
          day: '%e. %b',
          week: '%e. %b',
          month: '%Y %b %e.',
          year: '%y %e. %b'
        }
    },	
      yAxis: {
        title: {
          text: "<%= stat.category.name %>"
        }
      },
      tooltip: {
      formatter: function () {
        return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 2) + " <%= stat.category.sunit%>";
      }
    }, 

      series: [{
         
          name: "<%= stat.category.name %> by Date",
          pointInterval: <%= 1.day * 1000 %>,
          data: <%= stat.by_category.map{ |f| [f.date.to_datetime.to_i* 1000, f.value.to_i] }.sort.inspect %>	
        }]
   
    })
  })

     </script>
     </div>
     </div>
     </td>
      </tr>
  
