<% content_for :sidebar do %>

	<a class="btn btn-primary" data-toggle="modal" href="#stats-modal">Track Stat</a>
	<%= link_to "Goals",(:goals), :class=>"btn btn-primary" %>
<% end %>
 <% content_for :top_left do %>
	<h2>Stats</h2>
<% end %>
<div class="modal hide fade" id="stats-modal">
  <%= render "stats/form"%>
</div>
 <% @stats_by_cat.sort.each do |category, stats| %>

 


  <div class="well span11">
  <div class="row-fluid">
  <div class="span3">
   <h3><%= category.name %></h3>
  </div>
  <div class="span2">
  <h4>Current </h4>
  <% recent = Stat.where(:category_id => category.id).order("date ASC").last %>
  <%= recent.value %>
  
  
  </div>
  <div class="span2">
   <h4>Goal</h4>
   <% goal = current_user.goals.where(:category_id => category.id).last  %>
   
        	 <%  if goal == nil %>
        	 <%= link_to "Set a Goal",(:goals) %>
        	 <% elsif %>
        	 <%= goal.value %>
        	 
        	 <% end %>
 
        	  
        	
        	
 
 
  </div>
  </div>
  <div class="stat-controls">
  <a href="javascript:toggleDiv('stat-values-<%= category.id %>');" class="btn btn-mini">Last 10</a>
  <a  href="javascript:toggleDiv('chart_container_toggle_<%= category.id %>');" class="btn btn-mini">Chart</a>

  </div>
  </div>
  <div style="display:none;" class="span11" id="stat-values-<%= category.id %>">
  <% for stat in stats %>
  <div class="stat-item">
  <div class="row-fluid">
  <div class="span4">
  I recorded a <%= link_to stat.category.name, stat_path(stat) %> of <%= stat.value %> on <%= stat.date.strftime("%B %d, %Y") %>
  </div>
  <div class="span4">
  	 <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stat_path(stat), :class => 'btn btn-mini' %>
     <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stat_path(stat),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger',
                      :remote => true %>
  </div>
  </div>
  </div>
 
  
 
  <% end %>
  
   </div>
    <div class="span11" style="display:none;" id="chart_container_toggle_<%=category.id%>">
    <div class="span11" style="min-height: 400px;"id="chart_container_<%=category.id %>">
   <script type="text/javascript">
    
 /**
 * Gray theme for Highcharts JS
 * @author Torstein Hønsi
 */



  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "chart_container_<%= category.id %>",
        zoomType: 'x'

      },
      title: {
        text: "History"
      },
    
     xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
          second: '%e. %b',
          minute: '%e. %b',
          hour: '%e. %B',
          day: '%e. %b',
          week: '%e. %b',
          month: '%Y %b %e.',
          year: '%y %e. %b'
        }
    },	
      yAxis: {
        title: {
          text: "<%= category.name %>"
        }
      },
      tooltip: {
      formatter: function () {
        return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 2) + " <%= category.sunit%>";
      }
    }, 

      series: [{
      	  <% chart_stats = current_user.stats.where(:id => category.id) %>
          
          name: "<%= category.name %> by Date",
          pointInterval: <%= 1.day * 1000 %>,
          data: <%= stat.by_category.map{ |f| [f.date.to_datetime.to_i* 1000, f.value.to_i] }.sort.inspect %>	
        }]
   
    })
  })

     </script>
     </div>
     </div>


<% end %>
