
<div class="row-fluid activity-item">
	  
      <div id="activity-sidebar" class="span2 activity-sidebar">

     
             <%= image_tag @stat.user.profile.avatar.url(:thumb), :class => "avatar" %>
             <h3><%= link_to @stat.user.username, @stat.user %></h3>
             <%= time_ago_in_words(@stat.date) %> ago.
   
      
  
       </div>
       <div id="post-body" class="span8 activity-body">
             <div class="post-content">
             <p>
              
              Tracked a <%= link_to @stat.category.name, @stat %> of <%= @stat.value %> <%= @stat.category.sunit %>
             </p>
             </div>
     
           
             <%= render "stats/likes", :like_object => @stat %>
       
     </div>
     <div class="span2 activity-logo" >
     	<div class="activity-logo visible-desktop">
         <i class="icon-bar-chart"></i> 
        </div>
    </div>
</div>
             