<%- model_class = @stat.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @stat.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stype) %>:</strong></dt>
  <dd><%= @stat.stype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @stat.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @stat.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @stat.category_id %></dd>

  <dt><strong><%= model_class.human_attribute_name(:sunit) %>:</strong></dt>
  <dd><%= @stat.sunit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @stat.user_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              stats_path, :class => 'btn'  %>
 
</div>
