<%= simple_form_for([current_user,@circle]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :user_tokens, :as => 'string', :input_html => {data: {load: @circle.users}}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
