<% content_for :sidebar do %>
<%= render "circles/sidebar" %>
<% end %>



<div class="tab-content">
 
  <div class="tab-pane active inbox" id="following-tab">
    <div class="circle-header">
	  People I follow.
     </div>
     <% current_user.follows.each do |follow| %>
     <div class="user-card row-fluid">
     <div class="user-card-avatar span2">
	    <%= image_tag follow.followable.profile.avatar.url(:thumb) %>
	</div>
	<div class="user-card-main span7">
		<%= follow.followable.username %>
    </div>
    <div class="user-card-control span3">
    	<%= render :partial => "follows/follow_user", :locals => {:user => follow.followable } %>
    </div>
    </div>
    <% end %>
	
  </div>
  <div class="tab-pane inbox" id="followers-tab">
    <div class="circle-header">
	  My Followers
     </div>
     <% current_user.followings.each do |follow| %>
     <div class="user-card row-fluid">
     <div class="user-card-avatar span2">
	    <%= image_tag follow.follower.profile.avatar.url(:thumb) %>
	</div>
	<div class="user-card-main span7">
		<%= follow.follower.username %>
    </div>
    <div class="user-card-control span3">
    	<%= render :partial => "follows/follow_user", :locals => {:user => follow.follower } %>
    </div>
    </div>
    <% end %>
	
  </div>
  
  <% @circles.each do |circtab| %>
   <div class="tab-pane inbox" id="circle-tab-<%= circtab.id %>">
    <div class="circle-header">
	  <%= circtab.name %>
     </div>
     <% circtab.users.each do |user| %>
     <div class="user-card row-fluid">
     <div class="user-card-avatar span2">
	    <%= image_tag user.profile.avatar.url(:thumb) %>
	</div>
	<div class="user-card-main span7">
		<%= user.username %>
    </div>
    <div class="user-card-control span3">
    	<%= render :partial => "follows/follow_user", :locals => {:user => user } %>
    </div>
    </div>
    <% end %>
	
  </div>
  <% end %>
</div>
        
 









