                <div class="nav">
                <ul class="nav pull-left">
	                 <% if user_signed_in? %>
	                <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Feed", root_path %></li>
	                
	               
	                 <li class="<%= 'active' if params[:controller] == 'stats' %>">
	                  <%= link_to "Stats", stats_path %>
	                
                     </li>
            
	               <li class="dropdown visible-desktop <%= 'active' if params[:controller] == 'nutrition' %>">
	               	 <%= link_to "Food Diary", nutrition_index_path %>
	               
                   </li>
	                
	                <li class="<%= 'active' if params[:controller] == 'pactivities' %>"><%= link_to "Activities", pactivities_path %></li>
	            
	                 <li class="dropdown visible-desktop 
	                 <%= 'active' if params[:controller] == 'users'%>
	                 <%= 'active' if params[:controller] == 'groups'%>">
	                 <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Community
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" data-no-collapse="true">
                    	
                     	<li>
                        <%= link_to('Users', users_path) %>
                      
                        </li>
                        <li>
                        <%= link_to('Groups', groups_path) %>
                        </li>
                        </ul>
                  </li>
                  <li>
                        <%= link_to('Help', help_index_path) %>
                  </li>
	                <%end%>
                </ul>
               </div>
               </div>
              <ul class="nav">  
             
              </ul>  
                <ul class="nav pull-right">
                	 <% if user_signed_in? %>
                    <li class="dropdown"><a href="#"
                    	class="drowndown-toggle"
                    	data-toggle="dropdown"><i class="icon-globe icon-white"></i>
                    	<b class="caret"></b>
                    	</a>
                    	<ul class="dropdown-menu">
                    		<% if @notifications %>
                    		
                    		
                    		<% @notifications.each do |notification| %>
                    		<div class="span3">
                    		  <div class="row-fluid">
                                <li>
                                 
                                 
                                	<div class="span4">
                    				 <%= notification.activity.user.username %>
                    		         </div>
                    		         <div class="span8">
                    				<% if notification.activity.target_type == "Comment" %>
    	        					<%= notification.activity.verb %> on a <%= link_to notification.activity.target.commentable_type, notification.activity.target.commentable %>
    	   						     <% else %>
    	      						  <%= notification.activity.verb %> a <%= link_to notification.activity.target_type, notification.activity.target%>
    	        					 <% end %>
                    				</div>
                    			  
                    			
                    			</li>
                    		  </div>
                    		   </div>
                    	    <% end %>
                    	    <li class="divider-horizontal"></li>
                    	    <li>
                            <%= link_to('All Notifications', user_mailbox_path(current_user))%>
                            </li>
                    	    <% else %>
                    	    <li>
                    			<div>
                    				No New Notfications
                    			</div>
                    	    </li>
                    	    <% end %>
                    	</ul>
                    </li>  
                      <li class="dropdown"><a href="#"
                    	class="drowndown-toggle"
                    	data-toggle="dropdown"><i class="icon-envelope icon-white"></i>
                    	<b class="caret"></b>
                    	</a>
                    	<ul class="dropdown-menu">
                    	
                    		
                    		<% if @messages %>
                    		
                    		
                    		<% @messages.each do |message| %>
                    		<div class="span3">
                    		  <div class="row-fluid">
                                <li>
                                 
                                 
                                	<div class="span4">
                    				<%= message.user.username %>
                    		         </div>
                    		         <div class="span8">
                    				<%= message.message.subject %>
                    				</div>
                    			  
                    			
                    			</li>
                    		  </div>
                    		   </div>
                    	    <% end %>
                    	   
                    			
                    		
                    	
                    	         <li class="divider-horizontal"></li>
                    	    <li>
                            <%= link_to('All Messages', user_mailbox_path(current_user))%>
                            </li>
                    	    <% else %>
                    	    <li>
                    			<div>
                    				No New Messages
                    			</div>
                    	    </li>
                    	    <% end %>
                    	      
                    	</ul>
                    </li>   
                    <% end %>
	                <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          <% if user_signed_in? %>
                          <%= current_user.username %>
                          <%else%>
                          Account
                          <%end %>
                          <b class="caret"></b>
                    </a>
                   <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li>
                    <%= link_to('Edit account', edit_user_registration_path) %>
                    </li>
                    <li>
                    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
                    </li>
                  <% else %>
                    <li>
                    <%= link_to('Login', new_user_session_path)  %>  
                    </li>
                  <% end %>
                  <% if user_signed_in? %>
                     <% if current_user.has_role? :admin %>
                      <li>
                      <%= link_to('Moderate', moderate_index_path) %>
                      </li>
                    <% end %>
                  <% else %>
                    <li>
                    <%= link_to('Sign up', new_user_registration_path)  %>
                    </li>
                  <% end %>
                  </ul>
                  </li>
                </ul>
               </div>
