                <div class="nav">
                <ul class="nav pull-left">
	                 <% if user_signed_in? %>
	                <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Feed", root_path %></li>
	                
	                
	                 <li class="dropdown">
	                 <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Body
                          <b class="caret"></b>
                    </a>
                     
                    <ul class="dropdown-menu">
                    
                        <li>
                        <%= link_to "Stats", stats_path %>
                        </li>
                      
                    
                        <li>
                        <%= link_to('Goals', goals_path) %>
                        </li>
                        </ul>
                  </li>
            
	               <li class="dropdown visible-desktop <%= 'active' if params[:controller] == 'nutrition' %>">
	                 <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Nutrition
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                     	
                        <li>
                         <%= link_to "Food Diary", nutrition_index_path %>
                        </li>
                        <li>
                         <%= link_to('Diet Goals', edit_user_registration_path(:anchor => "dgoal"))%>
                        </li>
                        </ul>
                   </li>
	                
	                <li><%= link_to "Activities", pactivities_path %></li>
	            
	                 <li class="dropdown visible-desktop">
	                 <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Community
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" data-no-collapse="true">
                    	
                     	<li>
                        <%= link_to('Users', users_path) %>
                      
                        </li>
                        <li>
                        <%= link_to('Groups', groups_path) %>
                        </li>
                        </ul>
                  </li>
                  <li>
                        <%= link_to('Help', help_index_path) %>
                  </li>
	                <%end%>
                </ul>
               </div>
               </div>
                <ul class="nav pull-right">
	                <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          <% if user_signed_in? %>
                          <%= current_user.username %>
                          <%else%>
                          Account
                          <%end %>
                          <b class="caret"></b>
                    </a>
                   <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li>
                    <%= link_to('Edit account', edit_user_registration_path) %>
                    </li>
                     <li>
                    <%= link_to('Mailbox', user_mailbox_path(current_user))%>
                    </li>
                    <li>
                    <%= link_to('Edit Profile', edit_user_profile_path(current_user))%>
                    </li>
                    <li>
                    <%= link_to('Edit Circles', circles_path)%>
                    </li>
                     <li>
                    <%= link_to('Change Password', edit_user_registration_path(:anchor => "wordpass"))%>
                    </li>
                     <li>
                    <%= link_to('Auth Providers', services_path )%>
                    </li>
                    <li>
                    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
                    </li>
                  <% else %>
                    <li>
                    <%= link_to('Login', new_user_session_path)  %>  
                    </li>
                  <% end %>
                  <% if user_signed_in? %>
                     <% if current_user.has_role? :admin %>
                      <li>
                      <%= link_to('Moderate', moderate_index_path) %>
                      </li>
                    <% end %>
                  <% else %>
                    <li>
                    <%= link_to('Sign up', new_user_registration_path)  %>
                    </li>
                  <% end %>
                  </ul>
                  </li>
                </ul>
               </div>
