<p>
© 2012 <%= link_to "Whats My X", root_path %>
<%= link_to "About",static_pages_about_path%> <a href="http://blog.whatsmyx.com" target="_blank">Blog</a> <%= link_to "Help", help_index_path%> 
<%= link_to "Privacy", static_pages_privacy_path %> <%= link_to "Terms",static_pages_terms_path%> 

</p>
