<!DOCTYPE HTML>
<html>
 <head>
  <title><%= full_title(yield(:title)) %></title>
  	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  	<![endif]-->
   <%= favicon_link_tag 'favicon.ico' %> 
 	 <%= stylesheet_link_tag    "application", :media => "all" %>
 	 <%= javascript_include_tag "application" %>
 
 	 <%= csrf_meta_tags %>
 	<!--! facebook metatags -->
    <meta property="og:title" content="What&#039;s My X?" />
  	<meta property="og:type" content="website" />
  	<meta property="og:url" content="http://whatsmyx.com" />
  	<meta property="og:image" content="http://whatsmyx.com/assets/x_logo_facebook.jpg" />
  	<meta property="og:site_name" content="What&#039;s My X?" />
  	<meta property="fb:admins" content="1662205271" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
 </head>
 <body>
  <!--! collapse nav -->
  <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
          <div class="container">
           <a class="brand class="<%= 'active' if params[:controller] == 'home' %>" href="/">WMX</a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </a>
    
          <div class="nav-collapse">
          <%= render 'layouts/navigation' %>
          </div>
   
          </div>
       </div>
  </div>
  <% if params[:controller] == 'static_pages'%>
  <div class="jumbotron masthead">
  		
  		<%= yield :jumbotron %>  		
 
  </div> 		
	<% end %>
  <!--! body container -->
  <div id="main" class="container">
   <div class="row-fluid">
   	<% if content_for?(:sidebar) %>

   		<div class="sidebar span3">
   			<%= yield :sidebar %>
   			<% unless params[:controller] == 'help'%>
   					<div class="sidebar-bottom">
    					<div class="well sidebar-bottom-content">
    						<%= render "layouts/side_footer" %>
   	 					</div>
    				</div>
    			<% end %>
    	</div>  
    	<div class="span9 main-content" id="main-content">
    		<div id="messages">
    			<%= render 'layouts/messages'%>
    		</div>
    			<%= yield %>
    		<%= render 'layouts/ga'%>
    		</div>
    		<% else %>
    <div class="span12 main-content" id="main-content">
    
    <%= yield %>
    <%= render 'layouts/ga'%>
    </div>
     <% end %>
    </div>
   </div>



</body>

</html>
